track_model_checkpoints/*
ILSVRC2015-curated/*
tracker_benchmark/*
OTB-py-master/data
OTB/*
sacred/*
OTB-py-master/OTB/*
OTB-py-master/results/*
OTB-py-master/sacred-tracking/*
OTB-py-master/scripts/*
OTB-py-master/data/*
OTB-py-master/trackers/*
*.txt 
*.log
*.mat
OTB-py-master/draw_bbox/*
sacred-tracking/*
workspace/*
  